.App {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: overlay;
}
.timebtn{
  box-shadow:none;
}
.modal{
margin-top: 10000px;
}

.champ_modal_btn{
  margin-top: 5px;
}

.styles_modal__gNwvD{
 background :transparent;
 box-shadow: none;
}

.styles_overlay__CLSq-{
  background:transparent;
  box-shadow: none;
}

.grid-container {
  padding-right: 9px;
  padding-left: 9px;
  margin-right: auto;
  margin-left: auto;
  overflow: overlay;
}

@media (min-width: 768px) {
  .grid-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .grid-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    width: 1170px;
  }
}
